.layout {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    flex: 1;
  }