.aside  {
    color: #ffffff;
    padding: 20px;
    background-color: #313a46;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f75db', endColorstr='#737df6',GradientType=0 ); /* IE6-9 */
    width: 300px;
    height: 100vh;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    border: none;
}

.accordion-body a {
    color: rgb(175, 174, 174);
    text-decoration: none;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color:#313a46;
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-width: 0px;
    border-bottom-right-radius: none; 
    border-bottom-left-radius: none; 
}

.accordion-collapse {
    border:none;
    border-width: 0px;
}

.logo{
    text-align: center;
    margin-bottom: 30px;
}